*{box-sizing: border-box;}

/* Style of the body */
body{
    font-family: 'Times New Roman';
    margin:0;
}

/* Header/ logo Title */
header{
    padding: 10px;
    text-align: center;
    background:orange;
    color: white;
}

/* style designed for the navigation bar */
nav{
    display: flex;
    background-color: #333;
}
nav a{
    color: white;
    padding: 14px 20px;
    text-align: center;
}
nav a:hover{
    /* change the links' color when hover */
    background-color: #ddd; /*bottom color*/
    color: black; /*link text color*/
}

/* design main content's style */
row{
    display: flex;
}
aside{
    flex:30%;       /*share left 30% of the screen width*/
    background-color: #f0f0f0;
    padding: 20px;
}
main{
    flex:70%;
    background-color: #777;
    padding: 20px;
}
main section{
    padding: 20px;
}
main section:hover{
    padding: 20px;
    background-color: #aaa;
}

/* fake image: use a gray box to represent an image */
.fakeimg{
    background-color: #ccc;
    width: 100%;        /* spread through the whole width that the fakeimg is placed*/
    padding: 20px;
}

/* footer style */
footer{
    padding:20px;
    text-align: center;
    background-color: #ddd;
}

@media screen and (orientation: portrait){
    row{
        flex-direction: column-reverse;
    }
}

@media print{
    header{display: none;}
    nav{display: none;}
    aside{display: none;}
    main{display: flex;}
    main{flex-direction: column;}
    footer{display: none;}
}
